html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

a {
  color: #2772B0;
}

.wrapper {
  width: 97%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}

/* image sizing */
article img {
  width: 100%;
  max-width: 225px;
  display: block;
}

/* background colors for columns */
.col-1 { background-color: #A3CDD9; }
.col-2 { background-color: #FFFCE6; }
.col-3 { background-color: #e3d002; }
.col-4 { background-color: #947a58; }

/* spacing between colums */
[class*="col-"] {
  padding: 0.75rem;
}

/* For mobile, stack on top of each other */
.row {
  display: block;
}

/* TABLET 480–767px (2 columns maximum) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

  .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4%;
    row-gap: 1rem;
  }

  .row-3 {
  grid-template-columns: 1fr !important;
  }

  .row-5 {
    grid-template-columns: repeat(2, 1fr);
  }

  .row-5 article:nth-child(1) {
    order: 2;
  }

  .row-5 article:nth-child(2) {
    order: 1;
    grid-column: 1 / -1;   
  }

  .row-5 article:nth-child(3) {
    order: 3;
  }
}



/* DESKTOP 768px (Maximum 4 columns) */
@media (min-width: 768px) {
  .row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  .row-6 {
        grid-template-rows: 700px;
  }

  /* Allows to stretch accross 2, 3, or 4 columns*/
  .col-2 { grid-column: span 2; }
  .col-3 { grid-column: span 3; }
  .col-4 { grid-column: span 4; }
}
